fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
python-jose
passlib[bcrypt]
langchain
chromadb
mlflow
prometheus-client
python-dotenv
ollama
sentence-transformers
rank-bm25
deepeval
google-genai